node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.nyc_output
coverage
.sass-cache
**/*.log
**/.DS_Store
**/frame_*.jpg
OV2640
OV5640
Capture.py
ESP32-Capture-Comms.ino
logs
certs/*.pem
.vscode
.idea